.primary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    display: inline-block;
    margin-left: 10px;
}

.nav-bar li:first-child {
    margin-left: 0;
}

.search form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input[type="submit"] {
    margin-top: 10px;
}

.search input[type="text"] {
    margin-top: 10px;
    height: 25px;
    width: 250%;
}

.logo {
    max-width: 500px;
    height: 100%;
    padding-top:150px;
}

.search-button {
    background-color: #d9dbe0;
    border: 1px solid #d9dbe0;
    border-radius: 4px;
    color: black;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-input {
    min-height: 44px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    width: 638px;
    width: auto;
    max-width: 584px;
    padding-left: 10px;
    font-size: 18px; 
    font-family: Arial, sans-serif;
}