.primary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: arial,sans-serif;
}

.nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar li {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px; 
}
 .nav-bar li a, .nav-bar li a:visited {
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
 }

 .nav-bar li a:hover {
    text-decoration: underline;
}

.nav-bar li:first-child {
    margin-left: 0;
}

.search form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input[type="submit"] {
    margin-top: 10px;
}

.search input[type="text"] {
    margin-top: 10px;
    height: 25px;
    width: 250%;
}

.logo {
    max-width: 500px;
    height: 100%;
    padding-top:150px;
}

.logo-advance {
    max-width: 100px;
    height: auto;
    display: inline-block; 
    padding: 20px;
}

.logo-wrapper {
    width: 100%;
    text-align: left;
}

.search-button {
    background-color: #d9dbe0;
    border: 1px solid #d9dbe0;
    border-radius: 4px;
    color: black;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-input {
    min-height: 44px;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    width: 638px;
    width: auto;
    max-width: 584px;
    padding-left: 10px;
    font-size: 18px; 
    font-family: Arial, sans-serif;
}

.adv-head {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial,sans-serif;
    
}

.adv-wrapper {
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-right: 35px;
    margin-bottom: 25px;
    margin-left: 35px;
}

.adv-form {
    display: block;
}

.adv-form-head {
    float: left;
    
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

.adv-div-wrapper-1 {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}